<?php
/*
 * {{ ansible_managed }}
 */

define('SS_ENVIRONMENT_TYPE', 'dev');

define('SS_DATABASE_SERVER', 'localhost');
define('SS_DATABASE_USERNAME', 'root');
define('SS_DATABASE_PASSWORD', '');
define('SS_DATABASE_NAME', 'deploynaut');

define('SS_DEFAULT_ADMIN_USERNAME', 'admin');
define('SS_DEFAULT_ADMIN_PASSWORD', 'password');

define('DEPLOYNAUT_OPS_EMAIL', 'none@example.org');
define('DEPLOYNAUT_OPS_EMAIL_FROM', 'none@example.org');

global $_FILE_TO_URL_MAPPING;
$baseDir = realpath(dirname(getcwd()));
$_FILE_TO_URL_MAPPING[$baseDir] = 'http://localhost';

{% if is_deploynaut | mandatory %}
define('DEPLOYNAUT_LOG_PATH','/var/www/logs/deploynaut');
define('DEPLOYNAUT_LOCAL_VCS_PATH', '/var/www/mysite/git-clones');
define('DEPLOYNAUT_ENV_ROOT', '/var/www/deploynaut-resources/envs');
define('DEPLOYNAUT_SSH_KEY', '/var/www/www-keys/id_rsa');
define('FLAG_SNAPSHOTS_ENABLED', true);
{% endif %}
